:root {
  --laser-color: #10c3fd;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  background: #222;
}

.responsive {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}

.responsive > .container {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3em;
  margin-left: 0.5em;
  height: 75vh;
  transform: scale(0.5); */

  position: absolute;
  left: 25px;
  bottom: 0;
  transform: scale(0.5) rotate(-45deg) translate(0, 0);
  transform-origin: 0 50%;
}

.lightsaber {
  display: flex;

  &.open .laser-container,
  & .laser-max {
    width: 1000px;
  }

  & .laser.vibration {
    animation: vibration 2s ease infinite alternate;
  }

  & .grip {
    display: flex;
    min-width: 848px;
  }

  & .pommel-cap {
    --bgcolor: #e7e4db;
    --bgcolor-light: #f9f4f9;
    --bgcolor-medium: #d4d8d1;
    --bgcolor-dark: #90a79d;
    --bgcolor-shadow: #c8cec5;

    width: 100px;
    height: 100px;
    background: var(--bgcolor);
    display: grid;
    grid-template-columns: 1.2fr 5fr 1.7fr;
    border-radius: 2px 0 0 2px;

    & .bottom {
      background: var(--bgcolor);
      border-right: 4px solid var(--bgcolor-dark);
      border-radius: 5px 0 0 5px;
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        background: var(--bgcolor-shadow);
        width: 100%;
        height: 100%;
        clip-path: polygon(0 75%, 100% 25%, 100% 100%, 0 100%);
      }
    }

    & .center {
      background: var(--bgcolor);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;

      & .bisel {
        background: var(--bgcolor-medium);
        border-left: 12px solid var(--bgcolor-dark);
        border-bottom: 12px solid var(--bgcolor-light);
        border-right: 12px solid var(--bgcolor-medium);
        border-top: 0;
        width: 40px;
        height: 25px;
        clip-path: polygon(0 25%, 20% 0, 80% 0, 100% 25%, 100% 100%, 0 100%);

        &.right {
          background: var(--bgcolor-light);
          border-bottom: 12px solid var(--bgcolor-medium);
          border-right: 12px solid var(--bgcolor-light);
          transform: scaleY(-1);
        }
      }

      & .end {
        position: absolute;
        width: 100%;
        height: 12px;
        top: -12px;
        bottom: auto;
        background: var(--bgcolor-medium);
        clip-path: polygon(0 100%, 20% 0, 80% 0, 100% 100%, 0 100%);

        &.right {
          background: var(--bgcolor-dark);
          transform: scaleY(-1);
          bottom: -12px;
          top: auto;
        }
      }
    }

    & .top {
      background: var(--bgcolor);
      border-left: 4px solid var(--bgcolor-dark);

      &::after {
        content: "";
        display: block;
        background: var(--bgcolor-shadow);
        width: 100%;
        height: 100%;
        clip-path: polygon(50% 100%, 100% 25%, 100% 100%);
      }
    }
  }

  & .hand-grip {
    --bgcolor-dark: #25152c;
    --bgcolor-light: #524964;
    --bgcolor: #3c3251;

    width: 100px;
    height: 100px;
    background: var(--bgcolor);
    border-left: 6px solid var(--bgcolor-dark);

    & .container {
      height: 110%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      transform: translateY(-5px);

      & .bisel {
        background: var(--bgcolor-dark);
        border-radius: 15px;

        &.bisel-1 {
          height: 12px;
          border-bottom: 5px solid var(--bgcolor-light);
        }

        &.bisel-2 {
          height: 14px;
          border-bottom: 2px solid var(--bgcolor-light);
        }

        &.bisel-3 {
          height: 18px;
        }

        &.bisel-4 {
          height: 14px;
          background: var(--bgcolor-light);
          border-top: 2px solid var(--bgcolor-dark);
        }

        &.bisel-5 {
          height: 12px;
          background: var(--bgcolor-light);
          border-top: 5px solid var(--bgcolor-dark);
        }
      }
    }
  }

  & .controls {
    --bgcolor: #e7e4db;

    width: 150px;
    height: 100px;
    background: var(--bgcolor);
    position: relative;

    & .left {
      --bgcolor-dark: #90a79d;
      --bgcolor-light: #b4bbb0;

      position: absolute;
      top: -20px;
      width: 100%;
      height: 20px;
      background: #3c3251;
      border-radius: 5px 5px 0 0;

      & .container {
        width: 95%;
        height: 30px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        transform: translateY(-10px);

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 14px;
          background: #b4bbb0;
          position: absolute;
          transform: translateY(22px);
        }
      }

      & .left-border {
        width: 100%;
        height: 6px;
        background: var(--bgcolor-dark);
        border-top: 2px solid var(--bgcolor-light);
      }

      & .inner {
        background: #f9c965;
        width: 100%;
        height: 14px;
      }

      & .right-border {
        width: 100%;
        height: 6px;
        background: var(--bgcolor-dark);
        border-top: 2px solid var(--bgcolor-light);
      }
    }

    & .container {
      height: 120px;
      display: flex;
      justify-content: space-around;

      & .gear {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: radial-gradient(transparent 25%, #b4bbb0 30% 100%);
        overflow: hidden;
        position: relative;
        align-self: center;

        & .border.circle {
          width: 10px;
          height: 10px;
          background: #e7e4db;
          border-radius: 50%;
          position: absolute;

          &:nth-child(1) { transform: translate(100%, -50%); }
          &:nth-child(2) { transform: translate(-50%, 25%); }
          &:nth-child(3) { transform: translate(-50%, 175%); }
          &:nth-child(4) { transform: translate(100%, 250%); }
          &:nth-child(5) { transform: translate(250%, 25%); }
          &:nth-child(6) { transform: translate(250%, 175%); }
        }
      }

      & .button {
        width: 20px;
        height: 20px;
        background: #dca858;
        border-radius: 50%;
        align-self: center;
      }
    }
  }

  & .main-hilt {
    height: 100px;
    display: flex;

    & .bottom {
      width: 20px;
      height: 100px;
      border-left: 6px solid #b4bbb0;
      border-right: 6px solid #454c69;
      background: #3c3251;
      clip-path: polygon(0 0, 80% 0, 100% 10%, 100% 90%, 80% 100%, 0 100%);
    }

    & .hilt {
      width: 10px;
      height: 100px;
      background: #454c69;
      border-left: 10px solid #25152c;
      border-right: 6px solid #3c3251;
      box-shadow: -1px 0 0 #25152c; /* Fix weird space */
      clip-path: polygon(0 15%, 20% 15%, 40% 0, 80% 0, 100% 15%, 100% 85%, 80% 100%, 40% 100%, 20% 85%, 0 85%);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &::before,
      &::after {
        content: "";
        display: block;
        border-top: 7px solid #656b8399;
        border-bottom: 7px solid #25152c99;
      }

      &::after {
        border-top-color: #25152c99;
        border-bottom-color: #656b8399;
      }

      &.end {
        align-self: center;
        height: 92px;

        &::before,
        &::after {
          content: none;
        }
      }
    }
  }

  & .focusing-ring {
    display: flex;
    align-items: center;

    & .part-IV {
      width: 35px;
      height: 35px;
      background: #f9c965;

      &::after {
        content: "";
        display: block;
        background: #0003;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 70% 100%);
      }
    }

    & .part-V {
      width: 20px;
      height: 45px;
      background: #e6ba5e;

      &::after {
        content: "";
        display: block;
        background: #0003;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 70% 100%);
      }
    }

    & .part-VI {
      width: 5px;
      height: 50px;
      background: #cba553;
    }

    & .part-I {
      width: 8px;
      height: 80px;
      box-shadow: 2px 0 0 #e6ba5e;
      border-left: 5px solid #f9c965;
      background: #e6ba5e;
      clip-path: polygon(0 0, 40% 0, 90% 20%, 100% 20%, 100% 80%, 90% 80%, 40% 100%, 0 100%);
    }

    & .part-II {
      width: 25px;
      height: 75px;
      background: #f9c965;
    }

    & .part-III {
      width: 10px;
      height: 35px;
      background: #dca858;
    }

    & .part-VII {
      width: 6px;
      height: 30px;
      background: #b88949;

      &::after {
        content: "";
        display: block;
        background: #0003;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 30% 100%);
      }
    }

    & .part-VIII {
      width: 25px;
      height: 35px;
      background: #dca858;

      &::after {
        content: "";
        display: block;
        background: #0003;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 70% 100%);
      }
    }

    & .part-IX {
      width: 25px;
      height: 65px;
      background: #f6b461;
    }
  }

  & .blade-emitter {
    display: flex;
    align-items: center;
    width: 60px;
    height: 100px;
    transform: scaleY(1.2);

    & .bottom {
      width: 70px;
      height: 70px;
      background: #e7e4db;

      &::after {
        content: "";
        display: block;
        background: #0003;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 70% 100%);
      }
    }

    & .center {
      width: 20px;
      height: 87px;
      background: #d4d8d1;

      &::after {
        content: "";
        display: block;
        background: #0003;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 100% 100%, 10% 100%);
      }
    }

    & .top {
      width: 10px;
      height: 100px;
      border-left: 5px solid #b4bbb0;
      background: #d4d8d1;
      clip-path: polygon(0 5%, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 95%);
    }
  }

  & .laser-container {
    width: 0;
    height: 100px;
    display: flex;
    align-items: center;
    transition: width 1.5s ease;
    will-change: width;
  }

  &.open .laser-container {
    transition: width 1.5s ease-in;
  }

  & .laser {
    width: 1000px;
    background: linear-gradient(to bottom, var(--laser-color), #fff 30% 70%, var(--laser-color));
    height: 40px;
    transform: translateX(-3px);
    position: relative;
    z-index: -1;
    border-radius: 0 25px 25px 0;
  }
}

@keyframes open {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes vibration {
  0% {
    box-shadow: 0 0 15px 10px var(--laser-color);
  }

  100% {
    box-shadow: 0 0 12px 8px var(--laser-color);
  }
}
